<ion-view view-title="Chat More">
  <ion-content class="padding">
    <h2>Test the 3rd level down on chats and content scrolling.</h2>
    <p>
    Aliquam placerat hendrerit orci, in tristique nunc consectetur ac. Nunc vitae dui facilisis, tempus magna eu, tincidunt leo. Nullam lectus est, convallis a tempor a, viverra sit amet justo. Cras ac semper ligula, in hendrerit leo. Nullam in nisi vitae turpis gravida consectetur. Morbi suscipit, nisl sed feugiat maximus, metus nulla interdum leo, quis condimentum sem elit sit amet tellus. Sed quam augue, egestas vel tincidunt at, vulputate ut lectus. Duis euismod hendrerit nibh sit amet malesuada. Ut egestas pharetra lacinia. Vivamus blandit lorem et elit fermentum, id sagittis velit elementum. Nulla tortor leo, egestas vel ex a, tincidunt finibus ligula. Sed eleifend augue ac ex accumsan, at semper ligula auctor. In mattis magna non risus molestie varius.
    </p>
    <p>
    Proin in orci tincidunt, tincidunt lectus eu, porta arcu. Vestibulum laoreet, sapien et lobortis tincidunt, arcu arcu sagittis neque, nec vehicula neque nibh ac mi. Cras sit amet gravida eros, vitae convallis tellus. Nam ultricies ac ligula id porta. Proin dapibus fermentum massa. Etiam imperdiet lacinia pharetra. Phasellus rutrum orci vel nunc faucibus egestas. Nulla suscipit tincidunt dui. Nam sollicitudin metus ut tellus feugiat tincidunt. Praesent eu scelerisque felis. Vestibulum at lorem nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porttitor ornare leo ut laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
    Nunc bibendum neque nec accumsan varius. Nulla elementum, elit vel pharetra tempor, ex lacus faucibus tortor, eleifend blandit leo ipsum vitae ex. Proin convallis iaculis diam ac aliquet. Praesent lacinia enim quis metus commodo, id ultricies est fermentum. Aliquam erat volutpat. Proin tristique tincidunt leo, quis pellentesque lorem aliquam nec. Donec sit amet maximus erat. 
    </p>
    <p>
    Nunc blandit quam dictum nulla accumsan, rutrum dapibus libero condimentum. Ut urna enim, bibendum nec varius id, mattis vitae magna. Nulla pretium, leo luctus finibus vulputate, odio dolor cursus erat, sed commodo nunc nunc eget felis. Quisque congue tortor ac nibh accumsan, cursus fringilla tellus ullamcorper. Maecenas malesuada pulvinar congue. Nunc ut ipsum vel turpis rhoncus lobortis. Curabitur finibus id tellus eu pharetra. Quisque molestie nibh ac velit tempor, eget eleifend tortor tristique. Fusce sit amet orci nibh.
    </p>
    <p>
    Sed eu orci nec justo faucibus pretium. Donec sit amet mi ultricies, ultrices ipsum ut, blandit nibh. In feugiat ex a elit viverra gravida. Cras eget semper diam, ut efficitur odio. Quisque at diam risus. Vestibulum a nisi dui. Integer luctus libero ut sapien ultrices mollis. Maecenas semper, nisl quis congue dapibus, mauris augue tempus eros, ac tempus dolor augue non orci.
    </p>
  </ion-content>
</ion-view>
